Repository apache/skywalking-go, pull requests merged in 2024-03, with the labels that each got.

#175 Fix CI failure
  .github/workflows/plugin-tests.yaml
  test/plugins/run.sh
  test/plugins/scenarios/zap/go.mod
  test/plugins/scenarios/zap/go.sum
Labels: testing

#173 feature: add support for Pulsar
  .github/workflows/plugin-tests.yaml
  CHANGES.md
  docs/en/agent/support-plugins.md
  go.work
  plugins/pulsar/go.mod
  plugins/pulsar/go.sum
  plugins/pulsar/instrument.go
  plugins/pulsar/pulsar/receive_consumer.go
  plugins/pulsar/pulsar/send_async_producer.go
  plugins/pulsar/pulsar/send_producer.go
  plugins/pulsar/pulsar/structures.go
  test/plugins/scenarios/pulsar/bin/startup.sh
  test/plugins/scenarios/pulsar/config/excepted.yml
  test/plugins/scenarios/pulsar/go.mod
  test/plugins/scenarios/pulsar/go.sum
  test/plugins/scenarios/pulsar/main.go
  test/plugins/scenarios/pulsar/plugin.yml
  tools/go-agent/instrument/plugins/register.go
Labels: enhancement, plugin

#176 feature: add support for segmentio-kafka
  .github/workflows/plugin-tests.yaml
  CHANGES.md
  docs/en/agent/support-plugins.md
  go.work
  plugins/segmentio-kafka/go.mod
  plugins/segmentio-kafka/go.sum
  plugins/segmentio-kafka/instrument.go
  plugins/segmentio-kafka/reader_interceptor.go
  plugins/segmentio-kafka/writer_interceptor.go
  test/plugins/scenarios/segmentio-kafka/bin/startup.sh
  test/plugins/scenarios/segmentio-kafka/config/excepted.yml
  test/plugins/scenarios/segmentio-kafka/go.mod
  test/plugins/scenarios/segmentio-kafka/go.sum
  test/plugins/scenarios/segmentio-kafka/main.go
  test/plugins/scenarios/segmentio-kafka/plugin.yml
  tools/go-agent/instrument/plugins/register.go
Labels: plugin

#177 Add support trace ignore
  CHANGES.md
  docs/en/agent/tracing-metrics-logging.md
  plugins/core/tracer.go
  plugins/core/tracer_ignore.go
  plugins/core/tracer_ignore_test.go
  plugins/core/tracing.go
  tools/go-agent/config/agent.default.yaml
  tools/go-agent/config/loader.go
  tools/go-agent/instrument/agentcore/instrument.go
Labels: enhancement
